/* ===== NAVBAR ===== */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.logo span {
  color: #ff9800;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff9800;
}

/* ===== PROJECT SECTION ===== */
.projects {
  background: url("project\ img.jpg") no-repeat center center/cover;
  min-height: 100vh;
  padding: 120px 20px 50px; /* space navbar ke niche */
  font-family: Arial, sans-serif;
  text-align: center;
  position: relative;
}

.projects::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0.4); /* dark overlay for readability */
  z-index: 0;
}

.section-title {
  
  font-size: 2.3rem;
  color: rgb(252, 174, 6);
  margin-bottom: 40px;
  position: relative;
  z-index: 1 ;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

/* Project Container */
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  position: relative;
  z-index: 1;
}

/* Project Card */
.project-card {
  background-image: url(netflex.jpg); /* gradient box */
  border-radius: 15px;
  overflow: hidden;
  width: 320px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
  
}

.project-card:hover {
  transform: translateY(-8px);
      box-shadow: 0 10px 20px rgb(221, 15, 15);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  
}

.project-info {
  padding: 20px;
  color: #fff;
  text-align: left;
}

.project-info h3 {
  margin-bottom: 10px;
  font-size: 20px;
}

.project-info p {
  font-size: 14px;
  margin-bottom: 15px;
}

.project-info a {
  display: inline-block;
  padding: 8px 14px;
  background: #f8f8f8;
  color: #4906e7;
  font-weight: bold;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
}

.project-info a:hover {
  background: rgb(43, 40, 247);
  color: #ffffff;
  
}
